.books-container{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 24px;
}

.books{
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
    flex: 1 1 180px;
    transition: box-shadow 0.5s ease-in-out;
    box-shadow: 0px 0px 7px #e5e5e5;
}

.books .img{
    background-image: url("../books/ncert.jpg");
    background-size: contain;
    background-position: center;
    height: 220px;
    border: 5px solid #fff;
    border-bottom: none;
    transition: transform .5s ease-in-out;
}

.books:hover > .img{
    transform: scale(1.03);
}

.books .desc{
    padding: 16px;
}

.books .name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    margin-bottom: 8px;
}

.books .row{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.books .price{
    color: orangered;
    font-weight: bold;
}

.books .fa-heart:hover{
    color: tomato;
    font-weight: bold;
}

@media screen and (max-width:600px) {
    .books-container{
        gap: 8px;
    }

    .books{
        flex-basis: 140px;
    }
}